body{
    font-family: Arial;
    margin:10px;
    background-color: rgb(127, 206, 180);
}

nav{
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    margin: 50px;
    font-size: 25px;
    text-decoration: none;
}

header{
    background-color: rgb(34, 10, 216);
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    margin:20px;
    gap:10px;
    text-align: center;
    justify-content: space-around;

}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(203, 6, 6, 0.1);
    width: 25%;
    text-align: center;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;

}

.grid div{
    background-color: rgb(239, 214, 214);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(203, 6, 6, 0.1);
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px
}
@media (max-width.600px){
    .container{
        fle-direction: column;
    }
    .card{
        width: 100%;
    }
    .grid{
        
    }
}